{#{% extends "bootstrap/base.html" %}#}
{% block navbar %}
    {% from 'bootstrap/form.html' import render_form %}
    {% from 'bootstrap/nav.html' import render_nav_item %}

            {{ bootstrap.load_css() }}
            {{ bootstrap.load_js() }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav mr-auto">
            {{ render_nav_item('index', '首页') }}
            {{ render_nav_item('index', '缓存制作') }}
            {{ render_nav_item('index', '英雄名称翻译') }}
        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock %}