{% extends 'base.html' %}
{% block body %}
    {{ super() }}
        <div class="container-fluid" id="LG">
        <div class="row-fluid">
            <div class="span12">

                <p class="text-center">
                    <em>感谢使用T+缓存生成器！</em>
                </p>

                <p class="text-center">
                    <em>你个人定制的缓存已经生成完毕！</em>
                </p>

                <p class="text-center">
                    <em>感谢您选择T+</em>
                </p>
            </div>
        </div>
    </div>
{% endblock %}