<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
             {% for message in messages %}
                  <li>{{ message }}</li>
             {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.csrf_token }}
        {{ form.key.label }}
       <p> {{ form.key }}</p>
        {% if form.key.errors %}
            {{ form.key.errors }}
        {% endif %}

        {{ form.submit }}
    </form>
</body>
</html>