{#{% extends "bootstrap/base.html" %}#}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/nav.html' import render_nav_item %}

        {{ bootstrap.load_css() }}
        {{ bootstrap.load_js() }}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('func', '首页') }}
        {{ render_nav_item('index', '缓存制作') }}
        {{ render_nav_item('index', '英雄名称翻译') }}
    </div>
</nav>

<div class="container-fluid" id="LG">
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
			</ul>
			<p class="text-center">
				<em>欢迎使用 T + 小助手网页版, 目前很多功能正在开发中, 尽请期待ing</em>
			</p>
			<p class="text-center">
				<em>请牢记我们的网址www.lolwaigua.com LOL外挂欢迎你</em>
			</p>
			<p class="text-center">
				<em>我们的国服群638918322</em>
			</p>
			<p class="text-center">
				<em>我们的外服群482768203</em>
			</p>
		</div>
	</div>
</div>
