{% from 'bootstrap/form.html' import render_field %}
{% block content %}
    <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block body %}
    <form method="post">
        {{ form.csrf_token }}
       <p> {{render_field(form.key)}}</p>
        {% if form.key.errors %}
            {{ form.key.errors }}
        {% endif %}

        {{ render_field(form.submit) }}
    </form>
{% endblock  %}

